streamlit>=1.32.2
openai
langchain==0.3.24
langchain-openai==0.3.14
langchain-community==0.3.22
pandas>=2.2.2
numpy>=1.26.4
seaborn>=0.13.2
matplotlib>=3.8.4
plotly>=5.20.0
streamlit-flow-component==1.6.1
streamlit-code-editor>=0.1.10
ai-data-science-team
ipython